<style media="screen">
  form{
    margin-top: 5%;
    text-align: center;
  }
</style>

<form method="post" action="api/question">
  <input type="text" name="question"/>
  <input type="submit" value="Add"/>
</form>
