<title>Home</title>
<style media="screen">
  h1{
    text-align: center;
  }
</style>

<script>
  $.ajax({
    type: 'get',
    url: '/api/question/'
  }).done((data) =>{

  });

</script>

<div class="row">
    <h1 class="home question" style="display: block">{{question}}</h1>
</div>

<div class="row">
    <form class="" action="{{{link}}}" method="post">
        <div class="col-sm-4 col-xs-2"> </div>
        <div class="col-sm-2 col-centered col-xs-4">
            <button class="btn btn-lg btn-primary home yes" type="submit" name="choice" value="yes" > Sai / Không / Trái </button>
        </div>
        <div class="col-sm-2 col-centered col-xs-4">
            <button class="btn btn-lg btn-danger home no" type="submit" name="choice" value="no"> Đúng / Có / Phải </button>
        </div>
        <div class="col-sm-4 col-xs-2"> </div>
    </form>
</div>
