<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="menu menu_horizontal" id="">
      <span><a href="/">Answer</a></span>
      <span><a href="ask"> Add Question</a></span>
      <span><a href="statistic">Thống kê</a></span>
    </nav>
    {{{body}}}
  </body>
</html>
